# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


results/*
results_old/*
GenMol/scripts/exps/hit/vocab/*
GenMol/oracle/
/oracle/
tmp/
notebooks/
*.ckpt

.env_vars_dev
.vscode/
tmp/
*.prior
*.agent
*.log

# Large files that shouldn't be pushed to GitHub
!actives.csv
*.csv
*.whl
*.ckpt
model.ckpt
mamba_ssm-*.whl
causal_conv1d-*.whl

timing_app/
docs/
benchmark/docking_oracle/benchmark/

notebooks
**/__pycache__
.ipynb_checkpoints/

*rerun*
*plot*

*.slurm